html,
body {
  width: 100%;
  margin: 0;
  padding: 0;  
  background-image: url(../assets/images/noise.png);
}

.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 147px;
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  font-style: normal;
  line-height: 1.375; 
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px; 
  display: flex;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.5);
  backdrop-filter: blur(10px);
  z-index: 100;
}

@supports (backdrop-filter: blur(10px)) {
  .page-header {
    background-color: rgba(222, 222, 222, 0.5);  
    backdrop-filter: blur(10px);     
  }  
}

.page-header__container,
.events__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;  
}

.page-header__logo {
  flex-shrink: 0;
  width: 202px;
  height: 147px;
  font-size: 0;
  text-decoration: none;
}

.page-header__logo-icon {  
  width: 100%;
  height: 100%;
}

.page-header__nav {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}

.page-header__nav-link {
  margin: 0 25px;
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  transition: 0.2s;
}

.page-header__nav-link:hover {
  color: #bc3324
}

.home {
  padding-top: 147px;
}

.main {
  flex: 1 0 auto;
}

.main-header {
  padding: 100px 0;
}

.main-header__title,
.main-header__text {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
}

.main-header__title {
  margin: 0 0 70px;
}

.main-header__text {
  margin: 0 auto;
  max-width: 948px;
  width: 100%;
}

.main-header__picture {
  display: block;
  margin-bottom: 70px;
  position: relative;
  width: 100%;
}

.main-header__picture::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 16.927%;
}

.main-header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1f1e1e;
  background-color: transparent;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  background-color: #1f1e1e;
  color: #ffffff;
}

.page-header__right-block {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  width: 202px;
}

.events {
  padding-top: 147px;
}

.events__container {
  flex-direction: column;
}

.events__title {
  align-self: center;
}

.title {
  margin: 0 0 150px;
  box-sizing: border-box;
  padding: 7px 45px 9px;
  max-width: 624px;
  width: 100%;
  text-align: center;
  background-color: #1f1e1e;
  text-transform: uppercase;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;

}

.listing {
  display: flex;
  flex-wrap: wrap;
  gap: 120px 60px;
}

.listing__card-event {
  max-width: 405px;
  width: calc(33.333% - 40px);
}

.card-event__link{
  text-decoration: none;
}

.card-event__title {
  margin: 0 0 15px;
  min-height: 66px;
  color: #1F1E1E;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-decoration: underline transparent;
  transition: color 0.2s, text-decoration-color 0.2s;
}

.card-event__title:hover {
  text-decoration: underline red;
  color: #bc3324
}

.card-event__text {
  margin: 15px 0 54px; 
  font-weight: 400;
  font-size: 16px;
  line-height: 21.79px;
  text-decoration: none;
  color: #1F1E1E;
  font-family: "Open Sans";
}

.card-event__time {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19.07px;
  color: #1F1E1E;
}

.page-footer {
  flex: 0 0 auto;
  padding: 200px;
}